#about-title{
    color : var(--primary-text-color);
    font-size: 2.5rem;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    margin-top: 2rem;
}
.my-name {
    color: var(--sub-red);
    display: flex;
    flex-direction: column;
    justify-content: center; /* This centers vertically in the flex column */
    height: 100%;
}

.my-name h2 {
    margin: 0;
    font-size: 400%;
}

.social-icon {
    text-align: center;
    font-size: 2rem; /* Example size, adjust as needed */
    color: #007bff; /* Bootstrap primary color for example */
}
#github a{
    margin-left: 50%;
}

#linkedin a{
    margin-right: 50%;
}

.bio-container {
    max-width: 700px;
    margin-left: auto;
    margin-right: auto;
}
.bio-container p {
    margin-left: 5%;
}
/* bio header */
.bio-container h3 {
    color: var(--primary-text-color);
}
/* bio text */
.bio-container p{
    color: var(--primary-text-color);

}


.frosted-image {
    background-color: rgba(255, 255, 255, 0.5);
    backdrop-filter: blur(1);
    -webkit-backdrop-filter: blur(1); /* For Safari compatibility */
    border-radius: 10px; 
}