:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: dark;
  color: rgba(255, 255, 255, 0.87);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  --background-color: #181818;  /* 181818 1e1e1eExample: VSCode dark theme background */
  --secondary-background-color: #2D2D2D; /* Slightly lighter background for contrast */
  --primary-text-color: #E0E0E0; /* Light grey for high contrast text */
  --secondary-text-color: #B3B3B3; /* Darker grey for secondary text */
  --link-color: #569CD6; /* Light blue for links, similar to VSCode's default link color */
  --sub-orange: #b4806a; /* Optional: Color for special keywords, from VSCode theme */
  --sub-red: #a82b2b;/* or a82b2b , b72e2e : for my name*/
  --sub-yellow: #8d8d15; /*for the Projects h1 label*/
  --sub-blue: #4982b0; /*4982b0, 1199bafor the Project title h2 label*/
  --sub-green: #60894d; /*  for the Contact h1 label*/

}

body {
  background-color: var(--background-color);
  color: var(--primary-text-color);
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a, .link-like {
  color: var(--link-color); /* Use custom property for link colors */
  text-decoration: none; /* Optional: Depends on your design */
}

